DEBUG=True
SECRET_KEY=django-insecure-troque-em-producao

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

HUB_BASE_URL=http://localhost:8000
HUB_SYSTEM_ID=
HUB_SYSTEM_NAME=Sistema-de-Bolsistas
HUB_SYSTEM_URL=http://localhost:8001
HUB_SYSTEM_API_KEY=
HUB_SYSTEM_SECRET_KEY=

AUTH_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token
